install
url --url http://mirror.switch.ch/ftp/mirror/centos/7/os/x86_64
repo --name updates --baseurl=http://mirror.switch.ch/ftp/mirror/centos/7/updates/x86_64

# for too new hardware 
unsupported_hardware

text
skipx

# System language
lang en_US.UTF-8
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System timezone
timezone Europe/Zurich

# Partition clearing information
zerombr
clearpart --all --initlabel 
# System bootloader configuration
bootloader --location=mbr --timeout=5

# Disk partitioning information
part pv.01      --fstype="lvmpv" --size=1 --grow
part /boot      --fstype="xfs"   --size=512
volgroup vg00 --pesize=4096 pv.01
logvol swap     --fstype="swap"  --size=1024 --name=lvswap  --vgname=vg00
logvol /        --fstype="xfs"   --size=5120 --name=lvslash --vgname=vg00
logvol /var     --fstype="xfs"   --size=1024 --name=lvvar   --vgname=vg00
logvol /var/log --fstype="xfs"   --size=1024 --name=lvlog   --vgname=vg00

# Root password
rootpw vagrant
# System authorization information
authconfig --enableshadow --passalgo=sha512
user --name=vagrant --groups=vagrant --password=vagrant

# System service configuration
selinux --enforcing
firewall --service=ssh
services --disabled=atd,autofs,avahi-daemon,bluetooth,cups,fcoe,haldaemon,iprdump,iprinit,iprupdate,lldpad,lsmd,mdmonitor,multipathd,smartd,xinetd
reboot

%packages --nobase
@core

# remove @core stuff
-*firmware
-b43-openfwwf
-libX*
-fontconfig
-freetype

# additional packages which must be installed
bash-completion
bridge-utils
dstat
git
hdparm
iotop
lsof
ltrace
logwatch
net-tools
openssh-clients
openssh-server
policycoreutils-python
python-lvm
screen
setroubleshoot
strace
sudo
sysstat
tcpdump
telnet
tmux
vim-enhanced
yum-plugin-changelog

%end

%post --log=/root/ks-post.log

# Sudo rules for vagrant user
echo 'vagrant             ALL=(ALL)   NOPASSWD: ALL' >> /etc/sudoers.d/vagrant
echo 'Defaults:vagrant    env_keep += SSH_AUTH_SOCK' >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
sed -i 's/^.*requiretty/#Defaults requiretty/' /etc/sudoers

# Bootloader configuration
sed -i 's/rhgb //' /boot/grub/grub.conf
sed -i 's/^\(GRUB_CMDLINE_LINUX=.*\)"$/\1 console=tty0 console=ttyS0,115200n8"/g' /etc/default/grub
sed -i '/GRUB_CMDLINE_LINUX=/ a GRUB_SERIAL_COMMAND="serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1"' /etc/default/grub
sed -i 's/^\(GRUB_TERMINAL_OUTPUT\)=.*$/\1="console serial"/g' /etc/default/grub
echo 'GRUB_DISABLE_OS_PROBER="true"' >> /etc/default/grub
grub2-mkconfig -o /boot/grub2/grub.cfg

%end
